@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden; /* Esto eliminará el desplazamiento lateral a nivel global */
}

body{
  background: #101010;
  color: white;
}

.leaflet-container {
  z-index: 1 !important;
}
